.live {
    color: #ff0000;
}

.driver {
    display: flex;
    background-color: #FFF;
    color: #000;
    height: 48px;
    border-bottom: 3px solid rgb(235, 67, 44);
}

.driver__position {
    flex: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    background: rgb(235, 67, 44);
    color: #FFF;
    font-size: 22px;
}

.driver__name {
    flex: 240px;
    display: flex;
    align-items: center;
}

.driver__camera {
    flex: 50px;
    display: flex;
    align-items: center;
    flex-grow: 0;
    color: #FFF;
    justify-content: center;
    font-size: 18px;
}

.driver__camera:hover {
    cursor: pointer;
    opacity: 0.8;
}

.driver__camera.driver__camera--1 {
    background-color: rgb(17, 150, 0);
}

.driver__camera.driver__camera--2 {
    background-color: rgb(255, 102, 0);
}

.driver__camera.driver__camera--3 {
    background-color: rgb(15, 0, 148);
}

.driver--selected {
    border: 2px solid #ff5100;
}

/* BOOTSTRAP OVERWRITES */
.btn, .btn-sm, .btn-lg {
    border-radius: 0;
}