<div class="sc-debug">
    <p class="mb-0">
        Local Server Status
        <span class="badge badge-danger">Disconnected</span>
    </p>
    <p class="mb-0">Waiting for data from overlay...</p>
</div>

<div class="sc-main">
    <div class="sc-header">
        <h1 class="sc-header__title">Leaderboard</h1>
        <h2 class="sc-header__subtitle">Practice 1</h2>
    </div>

    <div class="sc-entries-column-headers">
        <div class="header header--position">Pos</div>
        <div class="header header--driver">Driver</div>
        <div class="header header--interval">Interval</div>
        <div class="header header--stops">Stops</div>
        <div class="header header--camera"></div>
    </div>

    <div class="sc-entry">
        <div class="entry__position">1</div>
        <div class="entry__driver">Kieran Chadwick</div>
        <div class="entry__interval">Leader</div>
        <div class="entry__stops">4</div>
        <div class="entry__camera">
            <button>GO</button>
        </div>
    </div>

    

</div>

<div class="fixed-bottom text-center sc-footer">
    <img src="../assets/img/brand.svg">
</div>